#header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

#header .top_nav {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#header .top_nav ul {
    display: flex;
    align-items: center;
}
#header .top_nav ul li {
	display: flex;
    align-items: center;
    justify-content: center;
}
#header .top_nav ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #666;
    margin: 0 12px;
}
#header .top_nav ul li:last-child:after {
    display: none;
}
#header .top_nav ul li a {
    font-size: 1.4rem;
    color: #666;
    font-weight: 400;
}

#header .h_inner {
    width: 100%;
    background-color: #2360E6;
    padding: 25px 0;
}
#header .h_inner .menu_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .tit_h1 {
    width: 170px;
    height: 48px;
    background: url(img/h_logo.svg) no-repeat center top / contain;
}

/*#header .gnb {
    display: flex;
    align-items: center;
}
#header .gnb li a {
    font-size: 1.6rem;
    color: #fff;
    padding: 0 20px;
}*/

#header .snb {
    display: flex;
    align-items: center;
    gap: 20px;
}
#header .snb li a {
    font-size: 1.2rem;
    color: #fff;
}
#header .snb li:nth-child(1) a::before {
    content: "";
    display: block;
    background: url(img/user_icon.svg) no-repeat center top;
    height: 3.0rem;
    margin: 10px 0;
}
#header .snb li:nth-child(2) a::before {
    content: "";
    display: block;
    background: url(img/cart_icon.svg) no-repeat center top;
    height: 3.0rem;
    margin: 10px 0;
}
#header .snb li:nth-child(3) a::before {
    content: "";
    display: block;
    background: url(img/shipping_icon.svg) no-repeat center top;
    height: 3.0rem;
    margin: 10px 0;
}

